<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105564114148-4quidivu9lu5h367qaftdgjoia1c6rtf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105564114148-4quidivu9lu5h367qaftdgjoia1c6rtf</string>
	<key>API_KEY</key>
	<string>AIzaSyDx98gaw3nU7PMdreadt-roEn69h7Jx_gc</string>
	<key>GCM_SENDER_ID</key>
	<string>105564114148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gshack.mx</string>
	<key>PROJECT_ID</key>
	<string>elektra-demo-41b78</string>
	<key>STORAGE_BUCKET</key>
	<string>elektra-demo-41b78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105564114148:ios:0412294e4572e782</string>
	<key>DATABASE_URL</key>
	<string>https://elektra-demo-41b78.firebaseio.com</string>
</dict>
</plist>